@use 'src/styles/vars' as v ;
@import 'src/styles/vars';

.animal-profil{

    &__back{
        position: absolute;
        top: 20vh;
        left: 40px;
        @include button;
        span {
            padding: 0;
        }
    }

    &__container{
        display: flex;
        justify-content: center;
        gap: 5vw;
        min-height: 85vh;
        
    }

    &__sending-message{
        background-color: v.$primary-color;
        padding: 10px;

        &--cross{
            color: v.$black;
            transition: 0.2s;
            margin-right: 10px;

            &:hover{
                cursor: pointer;
                color:v.$white;
            }
        }

        &--link{
            border-bottom: 2px solid v.$black;
            transition: 0.2s;
            &:hover{
                border-color: v.$white;
            }
        }
    }

    &__details{
        width: 30%;

        &--gradient{
        margin: 5vh auto;
        margin-bottom: 2vh;
        padding-top: 1vw;
        width: 25vw;
        height: 28vw;
        background: linear-gradient(v.$light-color, v.$dark-color);
        
        }

        &--tag-match{
            padding: 5px;
            border-radius: 30px;
            background-color: v.$primary-color;
            color: v.$white;
        }
        &--tag-nomatch{
            padding: 5px;
            border-radius: 30px;
            background-color: v.$dark-color;
            color: v.$white;
        }

        &--matching{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            .pourcent{
                @include smallTitle;
                color: v.$primary-color;
            }

            div{
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                align-items: center;

                .match{
                    color: v.$primary-color;
                    font-weight: 700;
                }

                .no-match{
                    color: v.$dark-color;
                    font-weight: 700;
                }
            }
        }
        
        &--camembert{
            width: 100px;
            height: 100px;
        }

        &--image{
            width: 23vw;
            height: 23vw;
            background-size: COVER;
            background-position: center;
            margin: auto;
            margin-bottom: 1vh;

    }
         .slick-prev:before, .slick-next:before{
            color: v.$primary-color;
            font-size: 20px;
        }

        .slick-dots li button:before
        {
            color: v.$white;
            font-size: 15px;
            line-height: 20px;
        }

        .slick-dots li.slick-active button:before {
            color:v.$secondary-color;
        }
    }

    &__title-container{

        display: flex;
        align-items: center;
        gap: 1vw;
        

        &--dot{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: v.$secondary-color;
            margin: 5vh 0 0 0;
        }

        &--name{
            @include Title ;
            margin: 5vh 0 0 0;
            
        }

        &--points{
            @include smallTitle;
            margin: 5vh 0 0 0;
        }

        &--fav{
            padding: 10px;
            display: flex;
            gap: 10px;
            transition: 0.2s;
            border-radius: 10px;
            cursor: pointer;

            &-added{
                color: v.$white;
                background-color: v.$primary-color;
                border: 2px solid v.$white;
            }

            &-not-added{
                color: v.$primary-color;
                background-color: v.$white;
                border: 2px solid v.$primary-color;
            }
        }
    }

    &__description{
        width: 40%;
        text-align: justify;

        &--text{
            p{
                margin-bottom: 5vh;
            }
            & ::first-letter{
                font-weight: 700;
            }
        }

        &--button{
            @include button;
            margin: 10vh auto;
            font-size: 1.3em;
            font-weight: 700;
            width: 10em;
        }
    }

    &__contact{
        
        &--container{
            display: flex;
            justify-content: space-between;
            gap: 50px;
            
        }

        &--exemple{
            width: 30vw;
            font-size: 0.8em;

            &--title{
                text-align: center;
                background-color: rgba(v.$black, 0.1);
                padding: 5px;
                margin-bottom: 10px;
                border-radius: 10px;
            }
        }

        &--textarea{
            width: 100%;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 30px;
            resize:vertical; 
            border-image-source: linear-gradient(-140deg, v.$primary-color, v.$tertiary-color);
            border-width: 3px;
            border-image-slice: 1;
            transition: 0.2s;

        &:focus{
            outline: none;
            border-image-source: linear-gradient(-140deg, v.$dark-color, v.$secondary-color);
        }
    }

    &--errorMessage{
        background-color: v.$primary-color;
        padding:10px;
        display: flex;
        gap: 30px;
        justify-content: space-between;
        margin-bottom: 20px;

        &--cross{
            transition: 0.2s;
            &:hover{
                color: v.$white;
                cursor: pointer;
            }
        }
    }
    }

    &__button{
        @include button;
        width: 8rem;
        

        &--container{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 7vh;

            p{
             margin:10px;
            }
        }
        &--cross{
            @include button;
            width: 4em;
            font-weight: 700;
            position: relative;
        }
    }

}


@media (max-width: $small-screen) {
    
    .animal-profil{

        &__back{
            top: 14vh;
            left: 40vw;
        }

        &__container{
            display: block;
            width: 80%;
            margin: auto;
        }

        &__details{
            width: 100%;

            &--gradient{
                margin-top: 10vh;
                width: 64vw;
                height: 70vw;
                padding-top: 4vw;
            }

            &--image{
                width: 54vw;
                height: 54vw;

            }

            &--fav{
                align-items: baseline;
                justify-content: baseline;
            }
        }

        &__title-container{
            display: block;

            &--fav{
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
            }

            &--points{
                font-size: 1em;
                text-align: center;
                margin: 20px;
            }
        }

        &__description{
            width: 100%;
        }


        &__contact{

            &--container{
                display: flex;
                flex-direction: column-reverse;
                margin-bottom: 0;
                gap: 10px;
            }

            &--exemple{
                width: 100%;
                font-size: 0.7em;
            }

            &--textarea{
                margin-bottom: 10px;
            }
        }
    }

  }
  
  // styles pour les écrans entre 576px et 768px (tablettes)
  @media (min-width: $small-screen) and (max-width: $medium-screen) {
    .animal-profil{
        &__container{
            display: block;
            width: 80%;
            margin: auto;
        }

        &__details{
            width: 100%;

            &--gradient{
                width: 32vw;
                height: 35vw;
                padding-top: 2vw;
            }

            &--image{
                width: 28vw;
                height: 28vw;

            }

            &--fav{
                align-items: baseline;
                justify-content: baseline;
            }
        }

        &__title-container{
            align-items: center;
            justify-content: center;

            &--fav{
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
            }
        }

        &__description{
            width: 100%;
        }
    }
  }