@use 'src/styles/vars' as v ;
@import 'src/styles/vars';


.animal-profil{

    &__back{
        position: absolute;
        top: 20vh;
        left: 40px;
        @include button;
        span {
            padding: 0;
        }
    }

    &__container{
        display: flex;
        justify-content: center;
        gap: 10vw;
        min-height: 76vh;
        
    }

    &__details{
        width: 30%;

        &--gradient{
        margin: 5vh auto;
        padding-top: 1vw;
        width: 25vw;
        height: 25vw;
        background: linear-gradient(v.$light-color, v.$dark-color);
        }
        
        &--image{
        margin: auto;
        width: 23vw;
        height: 23vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        }
    }

    &__title-container{

        display: flex;
        align-items: center;
        gap: 1vw;

        &--dot{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: v.$secondary-color;
        }

        &--name{
            @include Title ;
            margin: 5vh 0;
        }

        &--points{
            @include smallTitle;
        }

    }

    &__description{
        width: 35%;
        text-align: justify;

        &--text{
            p{
                margin-bottom: 5vh;
            }
            & ::first-letter{
                font-weight: 700;
            }
        }

        &--button{
            @include button;
            margin: 10vh auto;
            font-size: 1.3em;
            font-weight: 700;
            width: 10em;
        }
    }
}
