@use "src/styles/vars" as v;
@import "src/styles/vars";

.fav {
  &__round {
    position: relative;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-25px);
    }

    &--gradient {
      margin: 1vh auto;
      padding-top: 1vw;
      width: 15vw;
      height: 15vw;
      border-radius: 50%;
      background: linear-gradient(v.$light-color, v.$dark-color);
      box-shadow: 0 10px 20px rgba(63, 63, 78, 0.3);
      transition: 0.2s;

      &:hover {
        cursor: pointer;
      }
    }

    &--image {
      margin: auto;
      width: 13vw;
      height: 13vw;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--name {
      @include smallTitle;
      position: absolute;
      background-color: v.$primary-color;
      color: v.$white;
      padding: 15px 30px;
      bottom: -80px;
      left: 50%;
      white-space: nowrap;
      transform: translate(-50%, -50px);
      opacity: 0;
      transition: all 0.3s;
    }
  }
}

.fav__round .fav__round--gradient:hover + .fav__round--name {
  opacity: 1;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px rgba(63, 63, 78, 0.3);
}

@media (max-width: $small-screen) {
  .fav {
    &__round {
      margin-top: 50px;

      &--gradient {
        padding-top: 5vw;
        width: 70vw;
        height: 70vw;
      }
      &--image {
        width: 60vw;
        height: 60vw;
      }
    }
  }
}

// styles pour les écrans entre 576px et 768px (tablettes)
@media (min-width: $small-screen) and (max-width: $medium-screen) {
  .fav {
    &__round {
      margin-top: 50px;

      &--gradient {
        padding-top: 2.5vw;
        width: 35vw;
        height: 35vw;
      }
      &--image {
        width: 30vw;
        height: 30vw;
      }
    }
  }
}
