@use 'src/styles/vars' as v ;
@import 'src/styles/vars';

.input-container input {
    font-family: v.$global-font ;
    font-size: 1rem;
    display: block;
    margin: 2rem auto;
    padding: 1rem;
  }

button {
  @include button; 
  font-family: v.$global-font ;
  display: block;
  margin: 1rem auto;
  padding: 1rem;
}

input {
    margin: 0.4rem;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    border-color: orange;
  }

  img {
    display: inline-block;
    max-width: 100%;
  }

  &:not(:first-child) {
    margin-left: 5rem;
  }

  &:first-child {
    margin-left: 1rem;
  }

  &:last-child {
    margin-right: 1rem;
  }
}

.category-input {
  align-self: center;
}

.category-input input {
  display: inline-block;
  margin-right: 0.5rem;
}

.category-input label {
  font-size: 1.25rem;
}
