@use 'src/styles/vars' as v ;
@import 'src/styles/vars';

.input-container {
  width: 100%;
}

.input-container input {
    font-family: v.$global-font ;
    font-size: 1rem;
    display: block;
    justify-content:center;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;

    button {
      @include button;
    }   

    .title {
      @include Title;
    } 
  }

.categories {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  border-radius: 10px;
}

.category {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    border-color: v.$warm;
  }

  img {
    display: inline-block;
    width: 15rem;
  }
  &:not(:first-child) {
    margin-left: 1rem;
  }

  &:first-child {
    margin-left: 1rem;
  }

  &:last-child {
    margin-right: 1rem;
  }
}

.category-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-input {
  align-self: center;
}

.category-input input {
  display: inline-block;
}

.category-input label {
  padding: 2rem;
  font-size: 1.5rem;}

.validation{
  @include button;
  display: inline-block;
  span{
    display: block;
  }
}