@use "src/styles/vars" as v;
@import "src/styles/vars";

.input-container {
  width: 100%;
}

.input-container input {
  font-family: v.$global-font;
  font-size: 1rem;
  display: block;
  justify-content: center;
  margin: 2rem;
  margin-left: 30rem;
  padding: 1rem;
  width: 20%;
  border-radius: 10px;
}

.title {
  @include Title;
  margin-top: 30px;
  margin-right: 90px;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
}

.category {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    border-color: v.$warm;
    border-radius: 10px;
  }

  img {
    display: inline-block;
    width: 200px;
    height: auto;
  }
  &:not(:first-child) {
    margin-left: 5rem;
  }

  &:first-child {
    margin-left: 1rem;
  }

  &:last-child {
    margin-right: 1rem;
  }
}

.category-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-input {
  align-self: center;
}

.category-input input {
  display: inline-block;
}

.category-input label {
  padding: 1rem;
  font-size: 1rem;
}

.validation {
  font-size: 2rem;
  display: block;
  align-items: center;
  text-align: center;
  margin: 5rem auto;
  background: linear-gradient(
    144deg,
    v.$light-color,
    v.$primary-color 50%,
    v.$dark-color
  );
  border: 0;
  box-sizing: border-box;
  border-radius: 10px;
  color: v.$black;
  display: flex;
  justify-content: center;
  line-height: 2rem;
  padding-right: 5rem;
  padding-left: 5rem;
  text-decoration: none;
  cursor: pointer;
}
