@use 'src/styles/vars' as v ;
@import 'src/styles/vars';

.input-container {
  width: 100%;
}

.input-container input {
    font-family: v.$global-font ;
    font-size: 1rem;
    display: block;
    justify-content:center;
    margin: 2rem;
    margin-left: 30rem;
    padding: 1rem;
    width: 20%;
    border-radius: 10px;

    button {
      @include button;
    }   

    .title {
      @include Title;
      margin-top: 30px;
      margin-right: 90px;
    } 
  }

.categories {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  border-radius: 10px;
}

.category {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    border-color: v.$warm;
  }

  img {
    display: inline-block;
    max-width: 60%;
  }
  &:not(:first-child) {
    margin-left: 5rem;
  }

  &:first-child {
    margin-left: 1rem;
  }

  &:last-child {
    margin-right: 1rem;
  }
}

.category-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-input {
  align-self: center;
}

.category-input input {
  display: inline-block;
}

.category-input label {
  padding: 20rem;
  font-size: 1.5rem;}