@use 'src/styles/vars' as v ;
@import 'src/styles/vars';


.board{

    &_container{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        font-family: $global-font;

        &_menu{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30vw;
            height: 15vh;
            border: solid 0.05rem black;
            margin-top: 5vh;
            box-shadow: -5px 6px 6px $dark-color;
            border-radius: 5px;
            background-color: $dark-color;  
            color: aliceblue;
            font-size: x-large;

            &--icon{
                padding-right: 1vw;
            }
        }
    }
}