// Font import
@font-face {
  font-family: "Antic Didone";
  src: url("../assets/fonts/AnticDidone-Regular.ttf");
}

@font-face {
  font-family: "Arapey";
  src: url("../assets/fonts/Arapey-Regular.ttf");
}
// Font variables
$global-font: "Arapey";
$form-font: "Michel";

// Colors variables
// Generic for all avatars
$black: #303030;
$white: #f7f7f7;
$warm: #fdd2b6;
// dragon colors
$primary-color: #70c1b3;
$secondary-color: #cc0036;
$tertiary-color: #b2dbbf;
$light-color: #f3ffbd;
$dark-color: #247ba0;

// Mixins
// Titles
@mixin Title {
  font-family: "Antic Didone";
  font-size: 3em;
  font-weight: 700;
}

@mixin smallTitle {
  font-family: "Antic Didone";
  font-size: 1.5em;
  font-weight: 700;
}

@mixin button {
  text-align: center;
  margin: auto;
  background: linear-gradient(
    144deg,
    v.$light-color,
    v.$primary-color 50%,
    v.$dark-color
  );
  border: 0;
  box-sizing: border-box;
  color: v.$black;
  display: flex;
  justify-content: center;
  line-height: 1em;
  padding: 4px;
  text-decoration: none;
  cursor: pointer;

  span {
    background-color: v.$tertiary-color;
    padding: 16px 24px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  &:hover span {
    color: v.$white;
    background: none;
  }
}
