@use 'src/styles/vars' as v ;
@import 'src/styles/vars';

.adoptionsdetail{
    display: flex;
    padding: 10vh 5vw;
    background: linear-gradient(v.$white, v.$primary-color);

    &__container{
        display: flex;
        flex-flow: row nowrap;

        &__detail{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 3vw; 

            &-table{
                margin-top: 4vh;
                text-align: center;
            }
            
            &-table th{
                height: 5vh;
                padding-bottom: 2vh;
                vertical-align: middle;
            }
            
            &-table tr{
                height: 5vh;
            
                &:nth-child(even){
                    background-color: $dark-color;
                    color:aliceblue;
                }
            }
            
            &-table td{
                vertical-align: middle;
                width: 16.6%;
            
                &:first-child { 
                    border-top-left-radius: 15px; 
                }
                &:first-child { 
                    border-bottom-left-radius: 15px; 
                }
                &:last-child { 
                    border-top-right-radius: 15px; 
                }
                &:last-child { 
                    border-bottom-right-radius: 15px; 
                }
            }
        }
    }
}