@use 'src/styles/vars' as v ;
@import 'src/styles/vars';

.trombinoscope{
    margin-top: 10vh ;
    padding-bottom: 10vh;    
    background: linear-gradient(v.$white, v.$primary-color);

    .adoptionsdetail__container{
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 3vw;
    
    }
}