@use "src/styles/vars" as v;
@import "src/styles/vars";

.favorites-page {
  &__container {
    min-height: 85vh;
    padding: 10vh 0;
  }

  &__fav {
    &--container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5vw;
      width: 80%;
      margin: auto;
    }
  }
}
