@use 'src/styles/vars' as v ;
@import 'src/styles/vars';


.header{

// Global Header container
  &__container{
    box-shadow: 1px 1px 20px rgba(v.$black, 0.3);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-family: $global-font; 
  }

// Burger Menu style with React-burger-menu properties
  &__menu{
    .bm{

      &-burger{
        &-button {
        position: fixed;
        width: 40px;
        height: 30px;
        left: 40px;
        top: 3em;
        }
    
        &-bars {
          background: v.$black;
          transition: 0.2s;
          &-hover {
            background: $primary-color;
          }}
      }
      &-cross {
        background: v.$primary-color;
      }
      &-menu {
        background: v.$white;
        padding: 10px;
        padding-top: 10vh;
        font-size: 1.5em;

        &-wrap{
          top: 0;
          left: 0;
        }

        .item-link{

        padding: 15px;

        &--text{
          background:
          linear-gradient(
            to right,
            v.$primary-color,
            v.$tertiary-color
          ),
          linear-gradient(
            to right,
            v.$secondary-color,
            v.$dark-color
        );

          background-size: 100% 4px, 0 4px;
          background-position: 100% 100%, 0 100%;
          background-repeat: no-repeat;
          transition: background-size 0.2s ease-in !important;
          &:hover {
            background-size: 0 4px, 100% 4px;
          }
        }

          &--social{
            margin-top: 20vh;
          }
        }
      }
      &-morph-shape {
        fill: v.$white;
      }
      &-overlay{
        top: 0;
        left: 0;
      }
    }}

// Middle logo container
  &__logo{
    img{
      height: 5em;
    }
  }

// Right button on header, connexion or img if you are connected or not
  &__right-button{
    @include smallTitle;
  }
}


  