@use 'src/styles/vars' as v ;
@import 'src/styles/vars';

.animal-card{
    
    &__card{
        background-color: v.$white;
        border-radius: 50px 0 50px 0;
        width: 20vw;

        &--heart{
            color: v.$primary-color;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 10px;
            cursor: pointer;
        }

        &--gradient{
            margin: 1vh auto;
            padding-top: 1vw;
            width: 22vw;
            height: 22vw;
            border-radius: 50%;
            background: linear-gradient(v.$light-color, v.$dark-color);
        }

        &--image{
            margin: auto;
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &--name{
            margin-bottom: 3vh;
            font-family: 'Antic Didone';
            font-size: 2.5em;
            font-weight: 100;
            text-align: center;
        }

        &--resume{
            padding: 20px;
            text-align: justify;
        }

        &--points{
            margin: 2vh;
            text-align: center;
            font-size: 0.9em;
            font-weight: 700;
        }

        &--bouton{
            @include button;
            width: 4.5em;
            font-family: 'Antic Didone';
            font-size: 1.5rem;
            position: relative;
            font-weight: 700;
            top: 30px;
            box-shadow: 1px 1px 10px rgba(v.$black, 0.2);
        }
    }


}