@use "src/styles/vars" as v;
@import "src/styles/vars";

.preference {
  &__page-container {
    padding: 10vh;
    display: flex;
    gap: 10vw;
    min-height: 76vh;
  }

  &__message {
    background-color: v.$primary-color;
    margin: 30px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actual-profil {
    box-shadow: 1px 1px 30px rgba(v.$black, 0.1);
    padding: 40px;
    width: 20vw;
    text-align: center;

    h1 {
      @include Title;
      font-size: 2em;
    }

    &--title {
      text-align: center;
      @include smallTitle;
      margin: 30px;
    }

    &--tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      span {
        border-radius: 20px;
        background-color: v.$primary-color;
        color: v.$white;
        font-weight: 700;
        padding: 8px;
        margin: 5px;
      }
    }
  }

  &__form-container {
    padding: 30px;
    width: 60%;

    h2 {
      @include smallTitle;
      text-align: center;
      margin-bottom: 5vh;
    }

    &--formdiv {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &--button {
      @include button;
      margin: 5vh auto;
      font-weight: 700;
    }

    &--select {
      width: 40%;
      margin-bottom: 20px;
    }
  }
}
