@use 'src/styles/vars' as v ;
@import 'src/styles/vars';

.input-container input {
    font-size: 1rem;
    display: block;
    margin: 2rem auto;
    padding: 1rem;
  }
button {
  display: block;
  margin: 1rem auto;
  padding: 1rem;
}