@use "src/styles/vars" as v;
@import "src/styles/vars";

.title {
  @include Title;
  margin-top: 30px;
  margin-right: 90px;
}

.form {
  width: 90vw;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &--boutton {
    @include button;
    margin: auto;
    width: 6em;
  }

  &--message {
    background-color: v.$primary-color;
    padding: 10px;
    display: inline-block;
    margin: 5vh auto;

    &-cross {
      color: v.$black;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: v.$white;
      }
    }
  }

  &--input {
    padding: 20rem auto;
    border-image-source: linear-gradient(
      -140deg,
      v.$primary-color,
      v.$tertiary-color
    );
    border-width: 3px;
    border-image-slice: 1;
    transition: 0.2s;

    &:focus {
      border-image-source: linear-gradient(
        -140deg,
        v.$dark-color,
        v.$secondary-color
      );
    }
  }
}
